.menu-container{
    width: 15%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    background: white;
}
.nav-top,.nav-bottom{
    display: flex;
    flex-direction: column;
}
.nav-header{
    flex:1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
    border-bottom: 1px solid rgb(189, 187, 187);
}
.nav-header img{
    width: 75px;
    height: 75px;
}
.nav-body{
    flex:4;
    border-bottom: 1px solid rgb(189, 187, 187);
}
.nav-footer{
    flex:1;
}
.nav-body, .nav-footer{
    display: flex;
    flex-direction: column;
}
.nav-body div,.nav-footer div{
    padding: 10px;
    display: flex;align-items: center;
    cursor: pointer;
}
.nav-body div:hover,.nav-footer div:hover{
    background: rgb(231, 231, 255);
    /* color: white; */
    font-weight: 700;
}
.nav-body div span, .nav-footer div span{
    margin-left: 10px;
}


