body{
    display: flex;
    width: 100%;
    height: 100vh;
}
.dashboard-page{
    width: 100%;
}
.dashboard-container{
    width: 100%;
    height: 93vh;
    display: flex;
    background: #978c8c;
    /* padding: 10px; */
}
.dashboard-content{
    background: #dfb5b5;
    width: 85%; ;
    margin: 20px;
    border-radius: 5px;
    padding: 20px;
}
